body {
  text-align: center;
  color: black;
  background-color: beige;
  font-family: "Noto Serif", serif;
}

.container {
  max-width: 600px;
  margin: 20px auto;
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 10px;
}

select {
  display: block;
  width: 100%;
  padding: 7px;
  border-radius: 8px;
}

.city {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
  padding: 10px;
}

.city:last-child {
  border-bottom: none;
}

h3 {
  margin: 0 0 5px;
  font-size: 22px;
}

.date {
  opacity: 0.5;
}

.time {
  font-size: 30px;
  font-weight: bold;
}

.time small {
  font-size: 15px;
  vertical-align: middle;
}

footer {
  color: rgba(0, 0, 0, 0.5);
}
